.custom-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Opcional para centrar verticalmente */
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 150px;
  font-size: 35px;
  color: white;
  font-weight: bold;

}

ion-card{
  background-image: url(../../../assets/images_general/fondo_general.png);
}
