<ion-card>
<div  style="width: 100%;height: 20%;" (click)="irAltaDuenoSupervisor()">
  <div style="width: 512px;">
    <p class="custom-center" style="height: 30vh; padding-left: 80px;">Dueño /
      Supervisor
    </p>
  </div>
</div>

<div style="width: 100%;height: 20%;">
  <div style="width: 512px;">
    <p class="custom-center" style="height: 30vh;">Empleado</p>
  </div>
</div>
<div style="width: 100%;height: 20%;">
  <div style="width: 512px;">
    <p class="custom-center" style="height: 30vh;" (click)="altaClientes()">Cliente</p>
  </div>
</div>
<div style="background-color:blue; width: 100%;height: 20%;">
  <div style="width: 512px;">
    <p class="custom-center" style="height: 30vh;" (click)="altaProductos()">Productos</p>
  </div>
</div>
<div style="background-color:blue; width: 100%;height: 20%;">
  <div style="width: 512px;">
    <p class="custom-center" style="height: 30vh;" (click)="altaMesa()">Mesas</p>
  </div>
</div>
</ion-card>
