<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-back-button defaultHref="home/principal" slot="start"></ion-back-button>
    <ion-title slot="start">FLECHAS</ion-title>
    <!-- <ion-button (click)="cerrarSesion()"  slot="end">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="empezar" *ngIf="!empezado" class="ion-text-center" style="padding-top: 50px;">
          <button class="btn btn-success btn-block" (click)="empezar()">Empezar</button><br>
          <img src="../../../assets/flechas/abajo.jpg" style="height: 400px; width: 400px;">
        </div>
        <div class="row" *ngIf="tiempoTerminado">
          <div class="col-4">
            <h2>Puntos:</h2>
          </div>
          <div class="col-4">
            <h2>{{puntaje}}</h2>
          </div>
          <div class="col-12">
            <div *ngFor="let puntaje of listaOrdenada">
              <div class="row">
                <div class="col-4">
                  <h4>{{puntaje.usuario}}</h4>
                </div>
                <div class="col-4">
                  <h4>{{puntaje.puntos}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="empezado">
          <h2>Puntos:</h2>
          <h2>{{puntaje}}</h2>
          <p><strong>{{timeLeft}}</strong> Seconds Left....</p>
          <!-- <button (click)='startTimer()'>Start Timer</button>
          <button (click)='pauseTimer()'>Pause</button> -->
          <!-- <img  src="../../../assets/flechas/arriba.png"> -->
          <img id="img" [src]="getImage()" alt="">

          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="12" class="ion-text-center">
                <!-- Flecha Arriba -->
                <ion-button class="btn btn-lg" (click)="onArriba()">
                  <ion-icon name="arrow-up-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          
            <ion-row>
              <ion-col size="6" class="ion-text-end">
                <!-- Flecha Izquierda -->
                <ion-button class="btn btn-lg" (click)="onIzquierda()">
                  <ion-icon name="arrow-back-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
          
              <ion-col size="6" class="ion-text-start">
                <!-- Flecha Derecha -->
                <ion-button class="btn btn-lg" (click)="onDerecha()">
                  <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          
            <ion-row class="ion-align-items-center">
              <ion-col size="12" class="ion-text-center">
                <!-- Flecha Abajo -->
                <ion-button class="btn btn-lg" (click)="onAbajo()">
                  <ion-icon name="arrow-down-circle-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
          <!-- <ion-button class="btn btn-lg" (click)="onArriba()">
            <ion-icon name="arrow-up-circle-outline"></ion-icon>
          </ion-button>

          <ion-button class="btn btn-lg" (click)="onIzquierda()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-button>

          <ion-button class="btn btn-lg" (click)="onAbajo()">
            <ion-icon name="arrow-down-circle-outline"></ion-icon>
          </ion-button>

          <ion-button class="btn btn-lg" (click)="onDerecha()">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </ion-button> -->

        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- SPINNER -->
<div *ngIf="spin" class="div-spin-logo">
  <img src="../../../assets/spinner/spinner.gif" alt="" class="spin-logo">
</div>