<ion-header [hidden]="scanActive">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detalle pedido - Mesa {{ pedido.num_mesa }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!spin" >
  <!--EMPLEADO DE LA COCINA / BARRA-->
  <div *ngIf="esEmpleado" style="padding-left: 10px;">
    <ion-list class="ion-padding-horizontal ion-padding-vertical">
      <div class="card-body" *ngFor="let prod of pedido.productos">
        <div *ngIf="pedido.estado!='FINALIZADO'">
          <div *ngIf="prod.sector == sectorUserActual">
            <ion-item>
              <ion-label>
                Mesa {{pedido.num_mesa}}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Producto: {{prod.nombre}} </ion-label> <br>
            </ion-item>
            <ion-item>
              <ion-label>Cantidad pedida: {{prod.cantidad}} </ion-label> <br>
            </ion-item>
            <ion-item>
              <ion-label>Estado: {{prod.estado}} </ion-label><br>
            </ion-item>
            <ion-item>
              <ion-button size="small" color="warning"
                *ngIf="(pedido.estado=='CONFIRMADO' || pedido.estado=='EN_ELABORACION') && prod.estado =='PENDIENTE' && prod.estado =='PENDIENTE'"
                (click)="cambiarEstado(prod, 'EN_ELABORACION')">Iniciar preparacion</ion-button>
              <ion-button size="small" color="success" *ngIf="prod.estado =='EN_ELABORACION'"
                (click)="cambiarEstado(prod,'TERMINADO' )">Finalizar preparacion</ion-button>
            </ion-item>
            
          </div>
        </div>
      </div>

    </ion-list>

  </div>


  <!---Detalle para el usuario-->
  <div *ngIf="esCliente" [hidden]="scanActive" style="padding-left: 10px;">
    <div *ngIf="pedido.estado != 'CUENTA' && pedido.estado != 'PAGADO'  && pedido.estado != 'FINALIZADO'">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Detalle de su pedido</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>Estado: {{pedido.estado }}</ion-label><br>
          <ion-label>Total💵 ${{pedido.valorTotal}} </ion-label> <br>
          <ion-label>Tiempo estimado 🕗{{pedido.tiempo_elaboracion}} </ion-label> <br>
          <ion-button *ngIf="pedido.estado=='ENTREGADO'" color='success' (click)="confirmarRecepcion(pedido.id)">
            Confirmar recepcion</ion-button>
          <ion-button *ngIf="pedido.estado=='RECIBIDO'" color='success' (click)="pedirCuenta(pedido.id)">Pedir
            cuenta</ion-button>
        </ion-card-content>
      </ion-card>
      <h1 style="color: #fd0000">Productos</h1>
      <div *ngFor="let item of pedido.productos">
        <ion-card style=" 
      text-align:center; 
      padding:8px;
      ">
          <ion-card-header>
            <ion-card-title> {{item.nombre}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{item.nombre}}</ion-label><br>
            <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!--DETALLE DE LA CUENTA-->
    <div *ngIf="pedido.estado == 'CUENTA' ||   pedido.estado == 'PAGADO'  || pedido.estado == 'FINALIZADO'">
      <ion-list>
        <ion-item *ngFor="let item of pedido.productos; let index=index">
          <ion-avatar>
            <img [src]="item.img_src[0]">
          </ion-avatar>
          <ion-label>
            <h1>{{item.nombre}}</h1>
            <ion-row>

              <h2 style="margin-left:1em">$ {{item.precio}} X {{item.cantidad}}</h2>
            </ion-row>
          </ion-label>
          <strong>$ {{item.precio * item.cantidad}} </strong>

        </ion-item>
        <ion-label>Sub total ${{pedido.valorTotal}}</ion-label>
      </ion-list>
      <!--SOLO SI JUGO-->
      <div *ngIf="pedido.jugado">
        <h1>Descuento por juegos</h1>
        <ion-item *ngIf="pedido.descuento==0">
          <h1> {{pedido.nombreJuego}} </h1>
          <ion-row>
            <h2 style="margin-left:1em">Al menos lo intentaste, mas suerte la proxima 😁</h2>
          </ion-row>
        </ion-item>
        <ion-item *ngIf="pedido.descuento!=0">

          <ion-label>
            <h1> {{pedido.nombreJuego}}</h1>
            <ion-row>
              <h2 style="margin-left:1em">Resultado: ¡Ganó un {{pedido.descuento}}% de descuento!</h2>
            </ion-row>
          </ion-label>
        </ion-item>
      </div>

      <div *ngIf="pedido.estado == 'CUENTA' ">
        <h1>Propina</h1>
        <ion-button (click)="startScan()">
          <ion-icon name="qr-code-outline"></ion-icon>
          Escanear QR de propina
        </ion-button>


        <ion-row class="scanner-buttons" [hidden]="!scanActive">
          <ion-col>
            <ion-button expand="full" (click)="stopScan()">Cancelar</ion-button>
          </ion-col>
        </ion-row>

        <div class="scan-box" [hidden]="!scanActive">
        </div>
      </div>

    </div>
  </div>

  <!--DETALLE PARA EL MOZO-->
  <div *ngIf="esMetre" style="padding-left: 10px;">

    <ion-card>
      <ion-card-content>
        <ion-label>Estado: {{pedido.estado }}</ion-label><br>
        <ion-label *ngIf="pedido.estado=='FINALIZADO'" style="text-align: right;">Descuentos ${{pedido.descuento}}
        </ion-label> <br>
        <ion-label *ngIf="pedido.estado=='FINALIZADO'" style="text-align: right;">Propina: ${{pedido.propina}}
        </ion-label> <br>
        <ion-label style="text-align: right;">Total💵: ${{pedido.valorTotal}}</ion-label><br>

        <ion-label>Tiempo estimado 🕗{{pedido.tiempo_estimado}} </ion-label> <br>

      </ion-card-content>
    </ion-card>


    <ion-card-header style="padding-left: 10px;">
      <ion-card-title>Productos</ion-card-title>
    </ion-card-header>

    <div *ngFor="let item of pedido.productos">
      <ion-card style="text-align:center; padding:8px;">

        <ion-card-header>
          <ion-card-title> {{item.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-label>{{item.nombre}}</ion-label><br>
          <ion-label>Cantidad pedida: {{item.cantidad}} </ion-label> <br>
          <ion-label>Estado: {{item.estado}} </ion-label> <br>
        </ion-card-content>

      </ion-card>
    </div>
  </div>
</ion-content>


<ion-footer collapse="fade" [hidden]="scanActive" style="padding-left: 10px;"
  *ngIf="(pedido.estado == 'CUENTA' ||  pedido.estado == 'PAGADO'  || pedido.estado == 'FINALIZADO') && esCliente" >

  <ion-label style="text-align: right;">Propina: ${{pedido.propina}} </ion-label> <br>
  <div *ngIf="pedido.descuento > 0; else sinDescuento">
    <ion-label style="text-align: right;" >Descuentos ${{(pedido.valorTotal * pedido.descuento)/100}} </ion-label><br>
    <ion-label style="text-align: right;" *ngIf="pedido.estado=='CUENTA'">Total💵: ${{pedido.valorTotal + pedido.propina -
      ((pedido.valorTotal * pedido.descuento)/100)}}</ion-label>
  </div>
  <ng-template #sinDescuento>
    <ion-label style="text-align: right;" >Descuentos $0 </ion-label> <br>
    <ion-label style="text-align: right;" *ngIf="pedido.estado=='CUENTA'">Total💵: ${{pedido.valorTotal + pedido.propina}}</ion-label>
  </ng-template>
 
  <ion-label style="text-align: right;"
    *ngIf="pedido.estado == 'FINALIZADO'|| pedido.estado == 'PAGADO'|| pedido.estado == 'COBRADO'">Total💵:
    ${{pedido.valorTotal}}</ion-label>

  <ion-button *ngIf="pedido.estado=='CUENTA'" [disabled]="pedido.estado!='CUENTA'" color='success'
    (click)="pagarPedido(pedido.doc_id )" expand="full" shape="round" color="success">
    PAGAR
  </ion-button>
</ion-footer>
<ion-footer collapse="fade" *ngIf=" esMetre && (pedido.estado == 'PENDIENTE')" style="padding-left: 10px;">
  <ion-button expand="full" shape="round" color="success" (click)="confirmarPedido(pedido, 'CONFIRMADO')">Confirmar
    pedido</ion-button>

</ion-footer>
<ion-footer collapse="fade" *ngIf=" esMetre && (pedido.estado == 'TERMINADO' )" style="padding-left: 10px;">
  <ion-button expand="full" shape="round" color="success" (click)="confirmarPedido(pedido, 'ENTREGADO')">Entregar pedido
  </ion-button>
</ion-footer>
<ion-footer collapse="fade" *ngIf=" esMetre && (pedido.estado == 'PAGADO' || pedido.estado == 'COBRADO') " style="padding-left: 10px;">

  <ion-label style="text-align: right;">Descuentos aplicados: {{pedido.descuento}}%</ion-label> <br>
  <ion-label style="text-align: right;">Propina: ${{pedido.propina}}</ion-label> <br>
  <ion-label style="text-align: right;">Total💵: ${{pedido.valorTotal}}</ion-label>

  <ion-button *ngIf="pedido.estado=='PAGADO'" color='success' (click)="confirmarPago()" expand="full"
    shape="round" color="success">
    Confirmar pago y liberar mesa
  </ion-button>
</ion-footer>
<!-- SPINNER -->
<div *ngIf="spin" class="div-spin-logo">
  <img src="../../../assets/spinner/spinner.gif" alt="" class="spin-logo">
</div>