.fondo{
  background-color: #002366;

  border: 1px solid #002366;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer{
  background-color: #002366;
  padding-bottom: 30px;
}

.total{
  font-size: 25pt;
  margin-bottom: 20px;
}

.datosup{
  padding-top: 15px;
}

.datoinf{
  padding-bottom: 15px;
}

.fondo2{
  background-color: #002366;
  height: 50vh;
}
