<app-menu></app-menu>

<ion-content *ngIf="!spin" [ngClass]="scanActive?'scanner-activo':''" noscroll>

  <div class="visor">
    <h1 class="titulo" *ngIf="!scanActive">BIENVENIDO</h1>
    <h1 class="titulo" *ngIf="scanActive">ESCANEANDO...</h1>
    <p class="monto" [ngClass]="{ 'scanner-activo-visor': scanActive, 'monto-rojo': !scanActive}">
      <span></span>
    </p>
  </div>

  <div *ngIf="isCliente && !enListaEspera && !tieneMesa">
    <div class="centrado">
      <button class="escanear" expand="block" type="button" (click)="startScanner()" *ngIf="!scanActive">
        <h6 class="fw-bold">INGRESAR A LISTA DE ESPERA</h6>
      </button>
      <br>
      <button class="escanear" expand="block" type="button" (click)="verEncuestas(true)" *ngIf="!scanActive">
        <h6 class="fw-bold">VER ENCUESTAS ANTERIORES</h6>
      </button>
    </div>
    <ion-row class="scan-button" *ngIf="scanActive">
      <ion-col class="ion-no-padding">
        <button type="button" class="pos3" (click)="stopScanner()">CANCELAR</button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="isCliente && pedidoEntregado">
    <div class="centrado">
      <!-- <ion-button expand="block" (click)="irAJuego()">Juego</ion-button>
      <ion-button expand="block" (click)="irAEncuesta()">Encuesta</ion-button>
      <ion-button expand="block" (click)="irADetalle()">Detalle Pedido</ion-button> -->
    </div>
  </div>
  <div *ngIf="isCliente && !enListaEspera && tieneMesa && !pedidoEntregado">
    <div class="centrado">
      <button class="escanear" expand="block" type="button" (click)="startScannerMesa()" *ngIf="!scanActive">
        <h6 class="fw-bold">ESCANEAR CÓDIGO QR DE LA MESA</h6>
      </button>

    </div>
    <ion-row class="scan-button" *ngIf="scanActive">
      <ion-col class="ion-no-padding">
        <button type="button" class="pos3" (click)="stopScanner()">CANCELAR</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<!-- SPINNER -->
<div *ngIf="spin" class="div-spin-logo">
  <img src="../../../assets/spinner/spinner.gif" alt="" class="spin-logo">
</div>

<ion-modal #modal trigger="open-modal2" [isOpen]="encuestasAbierto" class="modalcarrito">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Encuestas</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="verEncuestas(false)" size="small">Volver</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <ion-content>

      <div *ngIf="listadoEncuestas.length > 0" class="contenedor">

        <ion-button expand="block" (click)="verEstadisticas()" class="ion-margin-vertical ion-margin-horizontal boton fw-bold" color="boton">Estadisticas de encuestas</ion-button>

        <div *ngFor="let item of listadoEncuestas ; index as i">

          <ion-item lines="full" class="item-enc">

            <div class="descripcion">
              <ion-text><h2 class="ion-text-center fw-bold">Puntaje: {{item.puntaje}}</h2></ion-text>
              <ion-text class="opacity-75"><p class="ion-text-center m-0 fw-bolder">Comentario:</p></ion-text>
              <ion-text class="opacity-75"><p class="ion-text-center m-0 mb-3">{{item.comentario}}</p></ion-text>
              <ion-text class="opacity-75"><p class="ion-text-center m-0 fw-bolder">Inconvenientes:</p></ion-text>
              <ion-text class="opacity-75"><p class="ion-text-center m-0 mb-3">{{item.inconvenientes | titlecase}}</p></ion-text>
            </div>

            <!-- <div>
              <div id="collapseExample{{i}}" class="carousel fotosProducto ion-margin-vertical">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{item.foto1}}" alt="..." width="140px" height="140px" class="img-menu">
                  </div>
                  <div class="carousel-item">
                    <img src="{{item.foto2}}" alt="..." width="140px" height="140px" class="img-menu">
                  </div>
                  <div class="carousel-item">
                    <img src="{{item.foto3}}" alt="..." width="140px" height="140px" class="img-menu">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#collapseExample'+i" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#collapseExample'+i" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div> -->

          </ion-item>
        </div>

      </div>
      <div *ngIf="listadoEncuestas.length === 0">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">No hay existen encuestas realizadas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ion-content>


  </ng-template>
</ion-modal>
