<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-back-button defaultHref="home-empleado" slot="start"></ion-back-button>
    <ion-title >Alta de productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">

  <form [formGroup]="formProducto" class="form">
    <!-- Nombre -->
    <br>
    <br>
    <br>
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Nombre</ion-label><br />
      <ion-input type="text" #nombre formControlName="nombre">
      </ion-input>
    </ion-item>
    <small class="invalid"
      *ngIf="formProducto.controls['nombre'].errors?.['required'] && formProducto.controls['nombre'].touched"
      style="color: var(--ion-color-danger)">El nombre es requerido.</small>
    <!-- descripcion -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Descripcion</ion-label><br />
      <ion-input type="text" #descripcion formControlName="descripcion">
      </ion-input>
    </ion-item>
    <small class="invalid"
      *ngIf="formProducto.controls['descripcion'].errors?.['required'] && formProducto.controls['descripcion'].touched"
      style="color: var(--ion-color-danger)">El deescripción es requerida.</small>
    <!-- tiempo -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Tiempo</ion-label><br />
      <ion-input type="number" #tiempo formControlName="tiempo">
      </ion-input>
    </ion-item>
    <small class="invalid"
      *ngIf="formProducto.controls['tiempo'].errors?.['required'] && formProducto.controls['tiempo'].touched"
      style="color: var(--ion-color-danger)">El tiempo es requerido.</small>
    <!-- precio -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Precio</ion-label><br />
      <ion-input type="number" #precio formControlName="precio">
      </ion-input>
    </ion-item>
    <small class="invalid"
      *ngIf="formProducto.controls['precio'].errors?.['required'] && formProducto.controls['precio'].touched"
      style="color: var(--ion-color-danger)">El precio es requerido.</small>
    <!-- sector -->
    <ion-item lines="full" class="input-wrapper">
      <ion-label position="fixed">Sector</ion-label><br />
      <ion-select placeholder="Seleccione" #sector formControlName="sector">
        <ion-select-option value="cocina">Cocina</ion-select-option>
        <ion-select-option value="bebida">Bebida</ion-select-option>
      </ion-select>
    </ion-item>
    <small class="invalid"
      *ngIf="formProducto.controls['sector'].errors?.['required'] && formProducto.controls['sector'].touched"
      style="color: var(--ion-color-danger)">El sector es requerido.</small>


    <div *ngIf="(formProducto.controls['sector'].value === 'cocina')">
      <ion-item lines="full" class="input-wrapper" >
        <ion-label position="fixed">Tipo</ion-label><br />
        <ion-select placeholder="Seleccione" #sector formControlName="tipo">
          <ion-select-option value="comida">Comida</ion-select-option>
          <ion-select-option value="postre">Postre</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="invalid"
        *ngIf="formProducto.controls['tipo'].errors?.['required'] && formProducto.controls['tipo'].touched"
        style="color: var(--ion-color-danger)">El tipo es requerido.</small>
    </div>



    <!-- imagen -->
    <ion-item class="image-item input-wrapper" *ngIf="i_NroImagen<3">
      <div class="img" #imagen>
        <ion-button class="ion-padding-horizontal" (click)="tomarFotoProducto()">
          <ion-text>Fotos del producto (3)</ion-text>
          <ion-icon name="image-outline" size="large" class="icon-img"></ion-icon>
        </ion-button>
      </div>
    </ion-item> <br>
    <ion-row class="uploaded-images">
      <ion-avatar *ngFor="let item of producto.img_src; let index=index">
        <img [src]="item" class="imgsub">
      </ion-avatar>
    </ion-row>
    <!-- SUBMIT -->
    <ion-button type="submit" size="medium" expand="full" color="success" (click)="GuardarNuevoProducto()" class="btnGuardar"
      [disabled]="(!formProducto.valid || i_NroImagen<3)"><strong>Guardar</strong> </ion-button>

  </form>
</ion-content>

<!-- SPINNER -->
<div *ngIf="spin" class="div-spin-logo">
  <img src="../../../assets/spinner/spinner.gif" alt="" class="spin-logo">
</div>
