<ion-content>
  <div class="fondo">


  <div class="contenedor">
    <div class="logo"></div>
    <div class="desarrolladores">
      <ion-grid class="ion-justify-content-between">
        <ion-row class="ion-justify-content-center ion-text-center ">
          <ion-col size="12" class="dev1">
            <ion-text class="texto">Kevin Quevedo</ion-text>
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="ion-justify-content-center ion-text-center ">
          <ion-col size="12" class="dev2">
            <ion-text class="texto">Macarena Ferrero</ion-text>
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="ion-justify-content-center ion-text-center ">
          <ion-col size="12" class="dev3">
            <ion-text class="texto">Eliseo Luquez</ion-text>
          </ion-col>
        </ion-row>
        <br>
        <ion-row class="ion-justify-content-center ion-text-center ">
          <ion-col size="12" class="curso">
            <ion-text class="texto">4 ° A</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
</ion-content>
