.div-spin-logo{
  background-color: #002366;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fondo{
  background-color: #002366;
  height: 100vh;
  border: 1px solid #002366;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.titulo{
  margin-right: 50px;
}

.color{
  --background-color: #002366;
  --color: #002366;
}

ion-modal {
  --height: 70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: #002366;
  --color: white;
}
