.spin-logo{
  width: 80px;
  border-radius: 50%;
}
.div-spin-logo{
  background-color: #002366;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-list{
  background-color: #002366;
  height: 100vh;
}

ion-item{
  --border-radius: 10px;
  margin-top: 5px;
}

.boton-aceptar{
  margin-right: 60px;
}

.fondo{
  background-color: #002366;
}

ion-text{
  font-size: x-large;
}
