<app-menu></app-menu>

<!-- SPINNER -->
<div *ngIf="spin" class="div-spin-logo">
  <img src="../../../assets/spinner/spinner.gif" alt="" class="spin-logo">
</div>

<ion-content *ngIf="!spin" >

  <div class="ion-padding-horizontal ion-padding-vertical fondo">
    <ion-text color="light">En lista de espera</ion-text>
  </div>

  <ion-list class="ion-padding-horizontal ion-padding-vertical">

    <div *ngFor="let cliente of enListaEspera">
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="{{cliente.foto}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2>{{cliente.nombre}} {{cliente.apellido}}</h2>
        </ion-label>
        <ion-fab horizontal="end" class="boton-aceptar">
          <ion-fab-button size="small" color="success" (click)="designarMesa(cliente)">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </div>

  </ion-list>

</ion-content>
