.scanner-buttons{
  margin: 0px;
  position: absolute;
  bottom: 100px;
  width: 100px;
  height: 50px;
  z-index: 11;
}

.scan-box{
  border: 2px solid #fff;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
  content: 'hola';
  display: block;
  left: 50%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 300px;
}

ion-item{
  padding:5px 5px 2px 5px;
}


.header{
  background-color: #002366;
}

.linea-nomape,
.linea-dnicuil{
  display: flex;
  flex-direction: row;
}
.correo,
.pass,
.linea-nomape,
.linea-dnicuil{
  margin-left: 15px;
  margin-right: 15px;
}


.form{
  background-color: #002366;
  height: 98vh;
}

ion-item{
  --border-radius: 30px;
}

.img{
  display: flex;
  justify-content: center;
}

ion-radio-group,ion-item,ion-list{
  background-color: #002366;
}

.icon-img{
  margin-left: 10px;
}

.fondo-transparente{
  height: 100vh;
  background-color: transparent;
}
