.fondo{
  background-color: #002366;
  border: 1px solid #002366;
}

.grafico{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.distancia{
  margin-bottom: 40px;
}
